<!DOCTYPE html>
<head>
  <script type="module" src="/scripts/index.js"></script>
  <script type="module" src="/scripts/list.js"></script>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/list.css">
</head>
<body>
  <div id="header-holder"></div>
  <div class="wrapper">
    <div class="tab-buttons">
      <button class="tab-opener-button" data-ref="table-0">By Shop</button>
      <button class="tab-opener-button" data-ref="table-1">By Products</button>
    </div>
    <div class="list"></div>
  </div>
</body>
</html>
