<!DOCTYPE html>
<head>
  <script src="/libs/highcharts.js"></script>
  <script src="/libs/modules/data.js"></script>
  <script src="/libs/modules/series-label.js"></script>
  <script src="/libs/modules/exporting.js"></script>
  <script src="/libs/modules/export-data.js"></script>
  <script src="/libs/modules/accessibility.js"></script>
  <script type="module" src="/scripts/index.js"></script>
  <script type="module" src="/scripts/product.js"></script>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/product.css">
</head>
<body>
  <div id="header-holder"></div>
  <div class="wrapper">
    <div class="product-holder"></div>
    <div class="tab-buttons">
      
    </div>
    <div class="charts-holder">
      
    </div>
  </div>
</body>
</html>
