<!DOCTYPE html>
<head>
  <script src="/libs/highcharts.js"></script>
  <script src="/libs/modules/data.js"></script>
  <script src="/libs/modules/series-label.js"></script>
  <script src="/libs/modules/exporting.js"></script>
  <script src="/libs/modules/export-data.js"></script>
  <script src="/libs/modules/accessibility.js"></script>
  <script type="module" src="/scripts/index.js"></script>
  <script type="module" src="/scripts/product.js"></script>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/product.css">
  <style>
    body{
      margin: 0;
      padding: 0;
    }
    #overlay {
      margin: 0;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: white;
      z-index: 101;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
  <div id="overlay">Loading...</div>
  <div id="header-holder"></div>
  <div class="wrapper">
    <div class="product-holder"></div>
    <div class="tab-buttons">
      
    </div>
    <div class="charts-holder">
      
    </div>

    <div class="predictions-wrapper hidden">
      <select name="p-shop" id="shop-dropdown" class="p-settings">
      </select>
      <select name="p-method" id="method-dropdown" class="p-settings">
      </select>
      <label for="period">Period: </label>
      <input type="number" id="period" name="period" min="0" max="11" class="p-settings" value="5"/>
      <div id="predictions" class="hidden"></div>
    </div>

    <div style="width: 50%" class="product-matching">
      <div style="width: 400px" class="product-matching-buttons-holder">
      
      </div>
    </div>
    
  </div>
</body>
</html>
