.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  margin-top: 50px;
  column-gap: 90px;
  row-gap: 40px;
}

p {
  margin-top: 20px;
}

.product {
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  transition: 200ms;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.shop-name {
  position: absolute;
  top: -10px;
  right: -10px;
}

.shop-name .shop-logo {
  height: 80px;
  background-color: white;
  width: 90px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.shop-name img {
  width: 70px;
  height: fit-content;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.product > a.title {
  display: block;
  color: gray;
  text-decoration: none;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
}

.pages {
  margin: 80px auto;
  width: fit-content;
}

.page {
  padding: 20px;
  background-color: #eaf2ff;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  margin: 0 20px;
}

.page:not(disabled):not(.chosen):hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.page.disabled,
.page.chosen {
  background-color: gray;
  pointer-events: none;
}

/* .page.disabled:hover {
  color: ;
} */
