* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e6e6e6;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

body > .wrapper {
  padding-bottom: 100px;
}

header, footer {
  background-color: #500;
  padding: 50px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 0px;
}

.categories {
  width: 300px;
  position: relative;
  height: 80px;
}

.category {
  background-color: #eaf2ff;
  padding: 7px 15px 0px 25px;
  border-radius: 4px;
  width: auto;
  position: relative;
  color: #000;
  text-transform: none;
}

.categories > .category {
  z-index: 100;
}

.categories > .category .category-children {
  border-radius: 0;
}

.categories > .category:nth-child(1) {
  border: 2px solid #500;
  max-width: 300px;
}

.category > .category-title {
  cursor: pointer;
  margin-left: -5px;
  margin-bottom: 10px;
}

.category:hover > .category-title {
  color: #990000;
}

.category-children {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 300px;
  width: fit-content;
}

.category-children.filled {
  border-left: 2px solid #500;
}

.category:has(.category-children.filled) {
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-size: 25px;
  background-position-y: 50%;
}

.category:hover > .category-children {
  display: block;
  height: auto;
}

.breadcrumbs {
  margin: 40px auto;
}

.breadcrumbs a {
  color: #500;
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #ca0000;
}

.error-holder.filled {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  color: #990000;
}

.product-search {
  background-color: #eaf2ff;
  border: none;
  border-radius: 4px;
  padding: 15px;
  font-size: 15px;
  margin: 10px 0;
  display: block;
  width: 300px;
}

.search-results {
  background-color: #eaf2ff;
  border-radius: 4px;
  width: fit-content;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 5;
}

.search-results > div > a {
  display: block;
  padding: 20px;
  color: #000;
  text-decoration: none;
  height: fit-content;
  text-align: left;
  padding-right: 140px;
}

.search-results > div > a:nth-child(2n) {
  background-color: #d9e0eb;
}

.search-results > div > a:hover {
  background-color: #f6f9fd;
  color: #990000;
}

.search-results >div >  a:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.search-results > div> a:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-results.hidden {
  display: none;
}

.p-settings,
.tab-buttons {
  margin: 40px 0;
}

.p-settings,
.tab-buttons .tab-opener-button {
  margin-right: 20px;
}

.p-settings,
.tab-opener-button {
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  background-color: #eaf2ff;
  border: 2px solid #500;
  border-radius: 4px;
}

.p-settings:hover,
.tab-opener-button:hover {
  color: #990000;
  cursor: pointer;
}

.tab-opener-button.clicked {
  background-color: gray;
}

.tab-holder {
  margin-top: 50px;
}

#predictions.hidden,
.predictions-wrapper.hidden,
.tab-holder.hidden {
  display: none;
}

.product-result {
  position: relative;
}

.shop-name:not(.shop-name-desc) {
  position: absolute;
  top: -10px;
  right: -10px;
}

.shop-name.search {
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
}

.shop-name .shop-logo {
  height: 80px;
  background-color: white;
  width: 90px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.shop-name.search .shop-logo {
  height: 40px;
  width: 50px;
}

.shop-name img {
  width: 70px;
  height: fit-content;
}

.shop-name.search img {
  width: 40px;
} 

.page-link {
  padding: 10px;
  background-color: #c1d9ff;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  display: block;
  width: 200px;
  text-align: center;
  margin-left: 20px;
  float: right;
}

h1 {
  line-height: 50px;
  font-size: 60px;
  font-family: monospace;
  margin: 80px 0;
  color: #900;
  text-align: center;
}

h2 {
  line-height: 20px;
  font-size: 40px;
  font-family: monospace;
  margin: 30px 0;
  color: #900;
  text-align: center;
}

h3 {
  line-height: 20px;
  font-size: 20px;
  font-family: monospace;
  margin: 20px 0;
  color: black;
}
