.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}

.product img.block1 {
  flex: 2;
  max-width: 400px;
  width: auto;
  height: fit-content;
  max-height: 600px;
  object-fit: contain;
}
.product div.block2 {
  flex: 3;
  max-width: 800px;
  width: auto;
}

.price-text {
  margin-left: 20px;
}

/* .shop-comparer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.product .feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product .title {
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
  color: #4c4553;
}

.product .shop-name {
  font-size: 28px;
  font-weight: 700;
  color: #990000;
  margin: 7px;
  text-decoration: none;
  margin-left: 0;
}

.shop-name.Silpo {
  margin-right: 45px;
}

.product .price-holder {
  display: flex;
  flex-direction: row;
  line-height: 50px;
  align-items: center;
}

.product .old-price {
  text-decoration: line-through;
}

.product .price {
  margin: 3px 20px 0 20px;
  color: gray;
}

.product .price:not(.old-price) span {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.shop-name {
  cursor: pointer;
}

.shop-comparer .shop-title {
  color: #4c4553;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;
}

.shop-comparer .shop {
  max-width: 500px;
}

.block2 .naming {
  color: gray;
  margin-right: 20px;
}
